<!DOCTYPE html>
<head>
<% include _head %>
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<link rel=canonical href="http://<%= default_host %>">
</head>

<body>

<h1><%= title %></h1>
<h2><%= description %></h2>

<div>
<% for (var i = 0; i < li.length; ++i) { %>
    <div>
        <a href="http://<%= default_host %>/<%= li[i].get('ID') %>"><%= li[i].get('title') %></a> 
    </div> 
<% } %>
</div>
<div>
    <a href="/index/<%= last_id %>">下一页</a>
</div>
<% include _foot %>
</body>

