<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
<title><%= rss_title %></title>
<link><%= rss_link %></link>
<description><%= rss_description %></description>
<language>zh-cn</language>
<% if(pubdate) { %> 
  <pubDate><%= pubdate %></pubDate>
<% } %>
<generator><%= rss_generator %></generator>
<% for(var i = 0; i < items.length; ++i) { %>
  <item>
  <title><%= items[i].get('title') %></title>
  <link><![CDATA[<%= rss_link %>/<%= items[i].get('ID') %><%= query_site %>]]></link>
  <% if (items[i].get('tag_list')) { %> 
      <category><%= items[i].get('tag_list')[0] %></category>
  <% } %>
  <index><%= i+1 %></index>
  <description><![CDATA[<%- items[i].get('html') %>]]></description>
  <pubDate><%= items[i].createdAt %></pubDate>

  <% if (query_site_name == 'xiaozhi') { %>
      <source><%= site_name %></source>
      <tags><%= items[i].get('tag_list') %></tags>
  <% } %>

  <guid><%= rss_link %>/<%= items[i].get('ID') %></guid>
  <% if (items[i].get('owner')) { %> 
      <author><%= items[i].get('owner').get('username') %></author>
  <% } else { %>
      <author><%= items[i].get('author') %></author>
  <% } %>
  </item>
<% } %>
</channel>
</rss>
